<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{common/layout_5block :: layout(~{::title},~{::body/content()})}">

<head>
	<script th:src="@{/js/payment_input.js}" type="text/javascript"></script>
	<title th:text="#{title.order.payment.input}+' | '+ #{shop.title}"></title>
	<meta charset="UTF-8" />
</head>

<body class="user order_payment_input">
	<h2 th:class="title" th:text="#{title.order.payment.input}"></h2>
	<p th:class="input_message" th:text="#{msg.order.payment.input}"></p>

	<div class="user_info_form_area">
		<form th:action="@{/client/order/check}" method="post" th:object="${orderForm}">
			<ul class="payment_method_select">
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="1" onclick="payChange();" />
						[[#{paymethod.credit.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="2" onclick="payChange();" />
						[[#{paymethod.bank.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="3" onclick="payChange();" />
						[[#{paymethod.onarrival.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="4" onclick="payChange();" />
						[[#{paymethod.emoney.str}]]
					</label>
				</li>
				<li>
					<label class="radio_label">
						<input type="radio" th:field="*{payMethod}" value="5" onclick="payChange();" />
						[[#{paymethod.convenience.str}]]
					</label>
				</li>
			</ul>

			<input type="submit" class="send_button" value="次へ" />
		</form>
		<form th:action="@{/client/order/payment/back}" method="post">
			<input type="submit" value="戻る" class="back_button" />
		</form>

	</div>
</body>

</html>